package main

type {{ Class.Name }} struct {

    {{#if BaseClass}}
        *{{ BaseClass }}
    {{/if}}

    {{#each Class.Members}}
        {{ Name }}() {
            {{#each Body}}
                {{ this }}
            {{/each}}
        }
    {{/each}}


}