package main // {{ PackageName }}

{{#each Classes}}

{{#each Interfaces }}
var _ {{ this }} = &{{Name}}{}
{{/each}}

type {{ Name }} struct {
    {{#if BaseClass}}*{{ BaseClass }}{{/if}}

    {{#each Fields}}
        {{{ Declaration }}}
    {{/each}}

}

func New{{Name}}() *{{Name}}{
    this := &{{Name}}{}

    {{#each Fields}}
        this.{{{ Initializer }}}
    {{/each}}

    return this
}

{{#each Members}}
    {{{ this }}}
{{/each}}

{{/each}}