package main // {{ PackageName }}

{{#with Class }}

{{#each Interfaces }}
var _ {{ this }} = &{{Name}}{}
{{/each}}

type {{ Name }} struct {
    {{#if BaseClass}}
        *{{ BaseClass }}
    {{/if}}
}

{{#each Members}}{{ this }}
{{/each}}

{{/with}}